.todo-template {
  width: 512px;
  height: calc(100% - 30px);
  position: relative;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
  margin: 15px auto 0;
  display: flex;
  flex-direction: column;
}
