.todo-head {
  padding: 16px;
  height: 175px;
  background: #307672;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;

  h1 {
    margin: 0 0 15px;
    font-size: 3.6rem;
    color: #fff;
  }
  .day {
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: #fff;
  }
  .tasks-left {
    display: inline-block;
    padding: 10px 15px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
  }
}
